<div bsModal #createPlanProjectModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="createPlanProjectModal"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">

    <div #modalContent class="modal-content">

      <form *ngIf="active" #createPlanProjectForm="ngForm" id="frm_create_plan" novalidate (ngSubmit)="save()">
        <div class="modal-header">
          <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">
            <span>{{l("CreateNewPlanProject")}}</span>
          </h4>
        </div>
        <div class="modal-body">
          <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <select id="planId" name="PlanId" [(ngModel)]="planProject.planId" class="form-control">
                    <option *ngFor="let plan of plans" [value]=plan.id>{{plan.planName}}</option>
                  </select>
                  <label for="planId" class="form-label">{{l("PlanName")}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <select id="planProjectTypeId" name="PlanProjectTypeId" [(ngModel)]="planProject.planProjectTypeId" class="form-control">
                    <option *ngFor="let planProjectType of planProjectTypes" [value]=planProjectType.id>{{planProjectType.planProjectTypeName}}</option>
                  </select>
                  <label for="planProjectTypeId" class="form-label">{{l("ProjectType")}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <input id="subProjectName" type="text" name="SubProjectName" [(ngModel)]="planProject.subProjectName" required class="validate form-control">
                  <label for="subProjectName" class="form-label">{{l("SubProjectName")}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <input id="plannedWorkLoad" type="text" name="PlannedWorkLoad" [(ngModel)]="planProject.plannedWorkLoad" required class="validate form-control">
                  <label for="plannedWorkLoad" class="form-label">{{l("PlannedWorkLoad")}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <input id="plannedCost" type="text" name="PlannedCost" [(ngModel)]="planProject.plannedCost" required class="validate form-control">
                  <label for="plannedCost" class="form-label">{{l("PlannedCost")}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <select id="unitType" name="UnitType" [(ngModel)]="planProject.unit" class="form-control">
                    <option *ngFor="let unitType of unitTypes" [value]=unitType.value>{{unitType.key}}</option>
                  </select>
                  <label for="unitType" class="form-label">{{l("ProjectType")}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <input id="description" type="text" name="Description" [(ngModel)]="planProject.description" class="validate form-control">
                  <label for="description" class="form-label">{{l("Description")}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
            {{l("Cancel")}}
          </button>
          <button [disabled]="!createPlanProjectForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
            {{l("Save")}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>