<div class="list-group" *ngFor="let attachment of attachments | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
  <div class="form-line">
    <span>
      {{attachment.fileName}}
    </span>
    <button type="button" class="btn btn-danger btn-xs" (click)="delete(attachment)">
      <span class="fa fa-close"></span>
    </button>
  </div>
</div>
<div class="text-align: center;" *ngIf="totalItems > pageSize">
  <pagination-controls (pageChange)="getDataPage($event)" id="server"></pagination-controls>
</div>