<div bsModal #editPlanModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editUserModal"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">
    <div #modalContent class="modal-content">
      <form *ngIf="active" #editPlanForm="ngForm" id="frm_edit_plan" novalidate (ngSubmit)="save()">
        <div class="modal-header">
          <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">
            <span>{{l("EditNewPlan")}}</span>
          </h4>
        </div>
        <div class="modal-body">
          <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <label for="planName" class="form-label">{{l("planName")}}</label>
                  <input type="text" id="planName" name="PlanName" [(ngModel)]="plan.planName" required class="validate form-control"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row clearfix" style="margin-top:10px;">
            <div class="col-sm-12">
              <div class="form-group form-float">
                <div class="form-line">
                  <label for="planYear" class="form-label">{{l("planYear")}}</label>
                  <input type="text" id="planYear" name="PlanYear" [(ngModel)]="plan.planYear" required class="validate form-control">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
              {{l("Cancel")}}
            </button>
            <button [disabled]="!createPlanForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
              {{l("Save")}}
            </button>
          </div>
      </form>
    </div>
  </div>
</div>