<div bsModal #addSpecialPlanModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="addSpecialPlanModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">
            <form *ngIf="active" #createSpecialPlanForm="ngForm" id="frm_create_specialplan" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{l("CreateSpecialPlan")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row clearfix" style="margin-top:10px;">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <select id="planId" name="PlanId" [(ngModel)]="specialplan.planId" class="form-control">
                                        <option *ngFor="let plan of plans" [value]=plan.id>{{plan.planName}}</option>
                                    </select>
                                    <label for="planId" class="form-label">{{l("PlanName")}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix" style="margin-top:10px;">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <select id="specialPlanTypeId" name="SpecialPlanTypeId" [(ngModel)]="specialplan.specialPlanTypeId" class="form-control">
                                        <option *ngFor="let specialPlanType of specialPlanTypes" [value]=specialPlanType.id>{{specialPlanType.specialPlanTypeName}}</option>
                                    </select>
                                    <label for="specialPlanTypeId" class="form-label">{{l("SpecialPlanTypeName")}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix" style="margin-top:10px;">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="mainContent" type="text" name="MainContent" [(ngModel)]="specialplan.mainContent" required class="validate form-control">
                                    <label for="mainContent" class="form-label">{{l("MainContent")}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix" style="margin-top:10px;">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="plannedWorkLoad" type="text" name="PlannedWorkLoad" [(ngModel)]="specialplan.plannedWorkLoad" required class="validate form-control">
                                    <label for="plannedWorkLoad" class="form-label">{{l("PlannedWorkLoad")}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix" style="margin-top:10px;">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <select id="unitType" name="UnitType" [(ngModel)]="specialplan.unit" class="form-control">
                                        <option *ngFor="let unitType of unitTypes" [value]=unitType.value>{{unitType.key}}</option>
                                    </select>
                                    <label for="unitType" class="form-label">{{l("UnitType")}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix" style="margin-top:10px;">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="plannedCost" type="text" name="PlannedCost" [(ngModel)]="specialplan.plannedCost" class="validate form-control">
                                    <label for="plannedCost" class="form-label">{{l("PlannedCost")}}单位:"万元"</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix" style="margin-top:10px;">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="year" type="text" name="Year" [(ngModel)]="specialplan.year" required class="validate form-control">
                                    <label for="year" class="form-label">{{l("Year")}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix" style="margin-top:10px;">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="completeDate" type="date" name="CompleteDate" [(ngModel)]="specialplan.completeDate" required class="validate form-control date">
                                    <label for="completeDate" class="form-label">{{l("CompleteDate")}} </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix" style="margin-top:10px;">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="description" type="text" name="Description" [(ngModel)]="specialplan.description" class="validate form-control">
                                    <label for="description" class="form-label">{{l("Description")}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                        {{l("Cancel")}}
                    </button>
                    <button [disabled]="!createSpecialPlanForm.form.valid || saving" type="submit" class="btn btn-primary waves-effect">
                        {{l("Save")}}
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>