<div class="row clearfix" [@routerTransition]>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card main-content">
            <div class="header" style="padding: 5px">

                <div class="row">

                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <h2> {{l('SpecialPlans')}}</h2>
                    </div>

                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <div class="btn-group btn-group-sm pull-right">
                            <button type="button" class="btn btn-info btn-outline waves-effect waves-float" (click)="search();">
                                <i class="material-icons">search</i> 搜索
                            </button>
                            <button type="button" class="btn btn-danger waves-effect waves-float" (click)="reset();">
                                <i class="material-icons">cancel</i>重置
                            </button>
                            <button type="button" class="btn btn-primary waves-effect waves-float" (click)="createTaskbook();">
                                <i class="material-icons">add</i>添加
                            </button>

                            <button type="button" class="btn btn-success waves-effect waves-float" (click)="refreshbtn();">
                                <i class="material-icons">refresh</i>刷新
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="body">


                <div class="card">
                    <div class="card-body">

                        <div class="row">

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 0px;">
                                <div class="input-group p-l-10 p-t-10">
                                    <div class="form-line">
                                        <input type="text" [(ngModel)]="filter" class="form-control" id="filterText" placeholder="输入关键词进行搜索...">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-inline p-l-10">
                                    <label for="inputUnitGroup" class="form-label">专项计划名称:</label>
                                    <span>
                                        <select id="specialPlanTypeId" name="SpecialPlanTypeId" [(ngModel)]="filterSpecialPlanType" class="form-control">
                                            <option *ngFor="let specialPlanType of specialPlanTypes" [value]=specialPlanType.id>{{specialPlanType.specialPlanTypeName}}</option>
                                        </select>
                                    </span>
                                </div>
                            </div>

                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-inline">
                                    <label for="inputUnitGroup" class="form-label">所属年份:</label>
                                    <span>
                                        <select name="filterYear" id="filterYear" [(ngModel)]="filterYear" class="form-control" required="required">
                                            <option *ngFor="let year of years" [value]=year>{{year}}</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 150px;">{{l('PlanName')}}</th>
                                <th style="width: 140px;">{{l('SpecialPlanTypeName')}}</th>
                                <th>{{l('MainContent')}}</th>
                                <th style="width: 100px;">{{l('PlannedWorkLoad')}}</th>
                                <th style="width: 110px;">{{l('PlannedCost')}}</th>
                                <th style="width: 100px;">{{l('CompleteDate')}}</th>
                                <th style="width: 250px;">{{l('Actions')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let specialplan of specialPlans | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
                                <td>{{specialplan.planName}} </td>
                                <td>{{specialplan.specialPlanTypeName}}</td>
                                <td>{{specialplan.mainContent}}</td>
                                <td>{{specialplan.plannedWorkLoad}}{{specialplan.unitTypeDescription}} </td>
                                <td>{{specialplan.plannedCost}} 万元</td>
                                <td>{{specialplan.completeDate.format('YYYY-MM-DD')}} </td>
                                <td style="text-align: center;">
                                    <div class="btn-group">
                                        <button type="button" data-toggle="modal" class="btn btn-outline btn-primary" (click)="edit(specialplan)">
                                            <i class="fa fa-edit"></i>
                                            编辑
                                        </button>
                                        <button type="button" data-toggle="modal" class="btn btn-outline btn-danger" (click)="delete(specialplan)">
                                            <i class="fa fa-close"></i>
                                            删除
                                        </button>
                                        <button type="button" data-toggle="modal" class="btn btn-outline btn-info" (click)="detail(specialplan)">
                                            <i class="fa fa-info"></i>
                                            详情
                                        </button>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="text-align: center;" *ngIf="totalItems > pageSize">
                        <pagination-controls (pageChange)="getDataPage($event)" id="server"></pagination-controls>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<app-create-specialplan #addSpecialPlanModal (modalSave)="refresh()"></app-create-specialplan>
<app-edit-specialplan #editSpecialPlanModal (modalSave)="refresh()"></app-edit-specialplan>